.masthead {
    /* 明亮 */
    -webkit-filter:contrast(.5);
    background: url("../image/index.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
     /* index 標語 */
.masthead h1 {
    font-size: 3rem;
    -webkit-text-stroke: 1px #000; 
    color: white;
}
.slogan{
    font-size: 3rem;
    -webkit-text-stroke: 1px #000; 
    margin-top: 150px;
    color: white;
}

.content {
    /* 網頁 明亮 */
    -webkit-filter:contrast(.2);
    background: url("../image/index2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 450px;
}

.topbar{
    margin-top: 50px;
}

.nav-item i {
    padding-right: 5px;
}

.content_tx{
    margin-top: 200px; /* 负值向上调整 */
}

@media (max-width: 576px) { 
    .content {
        /* app 明亮 */
        -webkit-filter:contrast(.2);
        background: url("../image/index2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        height: 300px;
    }
 }